body {
	background-color: #56bcf7;
	font-family: Helvetica;
	font-size: 40px;
}

.display {
	background-color: #fff;
	border-radius: 15px;
	margin-left: 20%;
	margin-top: 15%;
	padding: 20px;
	width: 60%;
}

.water-img {
	width: 80px;
}
